// STYLEGUIDE
$text-subhead: hsl(276, 100%, 81%)
$text-sam: hsl(276, 55%, 52%)
$text-me: hsl(271, 15%, 43%)
$text-placeholder: hsl(206, 6%, 79%)
$text-headings: hsl(271, 36%, 24%)
$text-body: hsl(270, 7%, 64%)

$col-white: hsl(0, 0%, 100%)
$col-app-bg: hsl(270, 20%, 96%)
$col-btn: hsl(271, 36%, 24%)
$col-radio: hsl(289, 100%, 72%)
$col-sam-bg: #E7D7F4

$col-gradient: #CE41FF, #8F3CFE

$font-size: 16px
$font-stack: 'Rubik', sans-serif
$font-weight-light: 400
$font-weight-regular: 500
$font-weight-bold: 700

$radius: 30px

/*
 * BASE STYLES
 */
*
  box-sizing: border-box
  transition: all 0.2s ease-in-out

html,
body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  background: $col-app-bg
body
  font-family: $font-stack
  font-size: $font-size
  position: relative
body::before
  content:""
  position: absolute
  height: 500px
  width: calc(50% + 50px)
  background: linear-gradient(to bottom, $col-gradient)
  top: 0
  left: -50px
  border-bottom-right-radius: 1000px
h1
  font-size: 2.5em
  font-weight: $font-weight-regular
  color: $text-headings
p
  line-height: 1.7
.wrapper
  padding-top: 65px

// PHONE
.phone
  border: 10px solid $col-white
  max-width: 250px
  margin: 0 auto
  border-radius: $radius
  position: relative
  height: 505px
  overflow: hidden
  font-size: 0.5em
  /* Add vendor prefixes */
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1)
.phone:after
  position: absolute
  content: ""
  width: 130px
  height: 20px
  border-radius: 0 0 calc(#{$radius} / 2) calc(#{$radius} / 2)
  background: $col-white
  top: -1px
  left: calc(50% - (130px / 2))
.phone-ui
  position: relative
  height: 100%
  background: $col-app-bg

// HEADER
.phone--header
  background: linear-gradient(to left, $col-gradient)
  border-radius: 20px 20px 6px 6px
  padding: 30px 12px 12px 12px
  color: $col-white
  display: flex
  align-items: center
.chat-avatar
  position: relative
  margin-left: 20px
  margin-right: 10px
.chat-avatar::before
  content: ""
  position: absolute
  height: 6px
  width: 6px
  border-bottom: 2px solid $col-white
  border-left: 2px solid $col-white
  margin-left: -12px
  transform: rotate(45deg)
  top: 8px
.chat-avatar img
  height: 24px
  border-radius: 100px
  border: 1px solid $col-white
  position: relative
.chat-info
  width: 100%
  position: relative
.chat-info p
  margin-bottom: 0
p.chat-name
  font-size: 1.2em
  margin-top: 0
p.chat-status
  font-size: 0.9em
  font-weight: $font-weight-light
  color: $text-subhead
  margin-top: 3px
.chat-menu,
.chat-menu::before,
.chat-menu::after
  background: $col-white
  border-radius: 100px
  height: 2px
  width: 2px
.chat-menu::before,
.chat-menu::after
  position: absolute
  content: ""
.chat-menu
  position: relative
  margin-right: 5px
.chat-menu:before
  top: -4px
.chat-menu:after
  bottom: -4px


// INPUT
.phone--input
  background: $col-white
  position: absolute
  bottom: 10px
  left: 10px
  border-radius: 100px
  width: calc(100% - 20px)
  padding: 12px 20px
.phone--input:before
  position: absolute
  content: ""
  height: 24px
  width: 24px
  border-radius: 100px
  background: $text-headings
  right: 5px
  bottom: 5px
.phone--input:after
  position: absolute
  content: ""
  height: 5px
  width: 5px
  border-top: 3px solid white
  border-right: 3px solid white
  right: 14px
  bottom: 13px
  transform: rotate(45deg)
.phone--input .placeholder-text
  color: $text-placeholder

// MESSAGES
#msg-area
  height: 365px
  padding: 10px
  width: 100%
  position: relative
  overflow: hidden
#msg-area .msg-list
  list-style-type: none
  padding-left: 0
  margin: 0
  height: 100%
.msg
  margin-bottom: 8px
  display: flex
  position: absolute
  top: 370px
  width: calc(100% - 20px)
.msg-content
  padding: 5px 8px
  background: $text-subhead
  border-radius: 10px
  max-width: 60%
.msg-content p
  line-height: 1.5
  margin: 0
.msg.from-sam .msg-content
  background: $col-sam-bg
  border-bottom-left-radius: 2px
  color: $text-sam
.msg.from-me
  justify-content: flex-end
.msg.from-me .msg-content
  background: $col-white
  border-bottom-right-radius: 2px
  color: $text-me
.msg.from-me:not(.type-image) .msg-content
  /* Add vendor prefixes */
  box-shadow: 0px 5px 5px rgba(0,0,0,0.05)
.msg-content img
  max-width: 40px
  border-radius: 10px
.msg-content img:not(:last-of-type)
  margin-right: 8px
.msg.from-me.type-image .msg-content
  max-width: 80%
  background: transparent
  padding: 0
.msg-list > .from-me
  margin-top: 15px
.msg-list > .from-me ~ .from-me
  margin-top: 0
.msg:nth-child(5)
  margin-bottom: 15px
.msg.type-choice .msg-content
  max-width: 100%
  width: 80%
  color: $col-white
  background: linear-gradient(to right, $col-gradient)
  position: relative
  padding: 10px 10px 10px 32px
.msg.type-choice .msg-content::before
  position: absolute
  content: ""
  height: 10px
  width: 10px
  border: 1px solid $col-radio
  border-radius: 100px
  margin-left: -22px
  margin-top: -1px
.msg.type-choice .msg-content .price
  position: absolute
  right: 15px
  font-size: 1.6em
  margin-top: -4px
  font-weight: $font-weight-bold

// TEXT AREA
.text-area
  text-align: center
  margin-top: 62px
  padding: 0 30px
